.img-p{
    width:160px;
    height:150px;
}
.text-color{
    color:rgb(187,104,201);
}
.card-color{
    background-color: rgb(249,248,249);
}
.gmail{
    width: 32px;
    height:34px;                                
}
.linkedin
{
    width: 40px;
    height:37px;
}