
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-gap {
    gap: 0 !important;
}

.img-c {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.name {
    font-size: 1rem;
    /* font-weight: bold; */
    color: #333;
    line-height: 25px; 
    margin-left: 0 !important; 
    padding-left: 0 !important;
}
