@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
body {
  background-color:  rgb(241,229,240);
  font-family: "League Spartan", serif;
  /* color:red;  */
}
.white{
  background-color: white;
}
.bg1{
  background-color: rgb(249,248,249                                               );
  /* color:white */
}
.color1{
  color: rgb(241,229,240);
}
.color2{
  color: rgb(85,23,94);
}

.color3{
  color:rbg(187,105,200);
}

.form-design{
  background-color: rgb(250, 238, 252);
}

.bg2{
  background-color: rgb(125,18,153);
}

.btn1{
  background-color: rgb(176,163,162);
}